html,body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar{
    background-color: #F5F6F8;
    padding: 20px;
}
.navbar h1{
    font-weight: 400;
    color: gray;
    margin: 0px;
    font-size: 25px;
    letter-spacing: 0.6px;
    margin-left: 100px;
    
}
.me{
    font-weight: 600;
    color:#423F3E ;
    
}

@media screen and (max-width:720px)  {
 .navbar{
     width: 100%px;
 }   
 
}